# Job submission configuration file
#
---

#
# Configure the content of the job script for the batch job here
# @see http://www.rubydoc.info/gems/ood_core/OodCore/BatchConnect/Template
#
batch_connect:
  # We use the basic web server template for generating the job script
  #
  # @note Do not change this unless you know what you are doing!
  template: "basic"

  # You can override the command used to query the hostname of the compute node
  # here
  #
  # @note It is **highly** recommended this be set in the global cluster
  #   configuration file so that all apps can take advantage of it by default
  #
  #set_host: "host=$(hostname -A | awk '{print $2}')"

#
# Configure the job script submission parameters for the batch job here
# @see http://www.rubydoc.info/gems/ood_core/OodCore/Job/Script
#
#script:
#  queue_name: "queue1"
#  accounting_id: "account1"
#  email_on_started: true
#  native: # ... array of command line arguments ...
script:
   <%- if type_ofuse == "interactive" %>
   job_name: "OOD_Int_Job"
   queue_name: "ood_inter"
   qos: "lr_interactive"
   native:
     - "-n"
     - "<%= node_cpu_corecount %>"
     - "-C"
     - "ood"
   <%- elsif type_ofuse == "interactive_gpu" %>
   job_name: "OOD_Int_GPU_Job"
   queue_name: "ood_inter"
   qos: "lr_interactive"
   native:
     - "--gres"
     - "gpu:1"
     - "-n"
     - "<%= node_cpu_corecount %>"
     - "-C"
     - "ood_gpu"
   <%- else %>
   job_name: "<%= job_name %>"
   queue_name: "<%= slurm_partition %>"
   qos: "<%= qos_name %>"
   native:
     - "-N"
     - "<%= node_cpu_corecount %>"
   <%- end %>
